body {
background-color: #FFFFFF;

}
#apollo {
	background-color: #FFD200;
}
#aphrodite {
	background-color: #FFC9DC;
}

#zeus {
	background-color: #E7FF00;
}
#poseidon {
	background-color: #33B3FF;
}
#hepheastus {
	background-color: #686868;
}
#hera {
	background-color: #CC72FF;
}
#artemis {
	background-color: #344566;
}
#ares {
	background-color: #CD3131;
}
#demeter {
	background-color: #5EDA4D;
}
#hermes {
	background-color: #FF9505;
}
#dionysys {
	background-color: #462986;
}
#athena {
	background-color: #E05252;
}